.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  position: relative;
  width: 5em;
  height: 5em;
  margin: 0 0.5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  -webkit-animation: progress_ani 1s infinite steps(8);
  animation: progress_ani 1s infinite steps(8);
  background: none;
}

.small.progress {
  font-size: 8px;
}

.progress:after,
.progress:before,
.progress > div:after,
.progress > div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 2.25em;
  width: 0.5em;
  height: 1.5em;
  border-radius: 0.2em;
  background:
#eee;
  box-shadow: 0 3.5em
#eee;
  -webkit-transform-origin: 50% 2.5em;
  transform-origin: 50% 2.5em;
}

.progress:before {
  background:
#555;
}

.progress:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background:
#777;
}

.progress > div:before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background:
#999;
}

.progress > div:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background:
#bbb;
}

@-webkit-keyframes progress_ani {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes progress_ani {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
